# Spotify API credentials
# Create a new app on the Spotify Developer Dashboard: https://developer.spotify.com/dashboard/
SPOTIFY_CLIENT_ID="YOUR_SPOTIFY_CLIENT_ID"
SPOTIFY_CLIENT_SECRET="YOUR_SPOTIFY_CLIENT_SECRET"

# The public URL of your application.
# For local development, this is typically http://localhost:9002
# For production, it should be your deployed app's URL.
NEXT_PUBLIC_APP_URL="http://localhost:9002"

# MongoDB connection string
# Get this from your MongoDB Atlas dashboard.
MONGO_URI="YOUR_MONGODB_ATLAS_CONNECTION_STRING"

# A secret for signing cookies and other security-related things.
# Generate a random 32-character string.
AUTH_SECRET="CHANGE_THIS_TO_A_SECRET_OF_AT_LEAST_32_CHARACTERS"
